* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face{
  src:url(../fonts/LEMONMILK.ttf);
  font-family: lemon;
}
  
@font-face{
  src:url(../fonts/VanillaCaramel.ttf);
  font-family: vanilla;
}
  
@font-face{
  src:url(../fonts/ADELIA.ttf);
  font-family: adelia;
}

@font-face{
  src: url(../fonts/MANOLETE.ttf);
  font-family: manolette;
}

body{
  padding-top: 13px;
  background-image: linear-gradient(-20deg, #dac5f9 0%, #cae5f8 100%);
}