* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
  
@font-face{
  src:url(../fonts/VanillaCaramel.ttf);
  font-family: vanilla;
}

html {
  min-height: 100%;
}

body {
  padding-top: 13px;
  background-image: linear-gradient(-20deg, #dac5f9 0%, #cae5f8 100%);
}

.body-100 {
  height: 100%;

  footer {
    width: 100%;
    bottom: 0px;
  }
}

.titulo_pages{
  text-align: center;
  font-family: vanilla;
  font-size: 73px;
  line-height: 121px;
  letter-spacing: 2px;
  color: $color;
}

.subtitulo_pages{
  @include titulo (center, 26px, 'Inter');
  margin-top:50px;
  color:$grey;
  font-weight: 300;
  @media only screen and (max-width: $desktop) {
      font-size: 20px;
  }
  a{
      text-decoration: none;
  }
}