@media screen and (max-width:480px) {
  header {
      flex-direction: column;
      gap: 2rem;
  }

  .menu {
      flex-direction: column;
      align-items: center;
  }

  .cards {
      padding: 1rem;
  }


  .titulo_index {

    font-size: 40px;
    line-height: 42px;

}


.info__img {

  img{
      width:100%
  }
  }
}