@charset "UTF-8";
/* NAV-BAR*/
header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto; }
  header .logo {
    width: 120px;
    margin-top: 8px; }
  header .logo-header {
    width: 100%; }
  header a {
    font-family: 'Inter'; }
  header nav .logo {
    display: none; }
  header nav ul {
    display: flex; }
  header nav ul li a {
    text-decoration: none;
    font-family: 'Inter';
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px; }
  nav ul li a header:hover {
    background: #f6f4ff; }
  header nav ul li a.active {
    color: #fefefe;
    background: #8f87f5; }
  header .hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s; }
  .hamburger header:hover {
    background: transpa rent; }
  header .hamburger .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526; }

/* MEDIA QUERIES NAV-BAR*/
@media screen and (max-width: 1100px) {
  ul {
    flex-direction: column;
    gap: 2rem; }
  header {
    flex-direction: column;
    gap: 2rem; }
  .info__img img {
    width: 100%; } }

/* TÍTULO-SUBTÍTULO*/
.titulo_index {
  font-family: Abril Fatface;
  font-size: 86px;
  line-height: 121px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 100px;
  /*padding-left: 100px;*/ }

.subtitulo_index {
  margin-top: 50px;
  text-align: center;
  color: #2A2A2A;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 26px;
  padding-bottom: 170px; }
  .subtitulo_index a {
    text-decoration: none; }

/* MEDIA QUERIES TÍTULO-SUBTÍTULO*/
@media only screen and (max-width: 1100px) {
  .titulo_index {
    font-family: Abril Fatface;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 1px; }
  .subtitulo_index {
    text-align: center;
    color: #2A2A2A;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 170px; } }

/* INFORMACIÓN*/
.info {
  display: flex;
  padding: 8rem;
  align-items: center; }
  .info .info__img {
    flex: 1 1 50%; }
  .info .info__box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 1rem; }
  .info .info__title {
    font-size: 2.3em;
    font-family: 'Roboto Slab', serif;
    color: #120D31; }
  .info .info__description {
    font-size: 21px; }
  .info .info__link {
    color: #8f87f5;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem; }
  .info .info__link path {
    color: #8f87f5;
    stroke-width: 5px; }

/* MEDIA QUERIES INFORMACIÓN*/
@media screen and (max-width: 879px) {
  .info {
    flex-direction: column; } }

@media screen and (max-width: 575px) {
  .info {
    padding: 1rem; } }

/* NEWS*/
.parrafo_news {
  display: inline-block;
  font-size: 16px;
  font-family: Abril Fatface;
  text-align: center;
  width: auto;
  margin: 15px;
  border-radius: 13px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.contenedor_news {
  margin: 0 100px 50px 100px;
  /*
    background-color: transparent;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.article_news {
  margin: 15px; }

@media only screen and (max-width: 600px) {
  .contenedor_news {
    margin: 10px; } }

/* PROFILE*/
.wrapper .card-img-top {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.wrapper .card-body {
  text-align: center;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5); }

.wrapper .card-body h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: deeppink; }

.wrapper .card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px; }

.wrapper .col-md-6 {
  margin-bottom: 100px; }

.wrapper .socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px; }

.wrapper .socials a i {
  color: #fff;
  padding: 12px 0; }

.wrapper .socials a:nth-child(1) {
  background: #3b5998; }

.wrapper .socials a:nth-child(2) {
  background: #ff0000; }

.wrapper .socials a:nth-child(3) {
  background: #007bb5; }

.wrapper .socials a:nth-child(4) {
  background: #ea4c89; }

.wrapper .socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px; }

.wrapper .socials a i {
  color: #fff;
  padding: 12px 0; }

.wrapper .socials a:nth-child(1) {
  background: #3b5998; }

.wrapper .socials a:nth-child(2) {
  background: #ff0000; }

.wrapper .socials a:nth-child(3) {
  background: #007bb5; }

.wrapper .socials a:nth-child(4) {
  background: #ea4c89; }

/* MEDIA QUERIES PROFILE*/
@media (max-width: 800px) {
  .mx-30 {
    margin-bottom: 30px; } }

/* MEDIA*/
.container-media .titulo-media {
  text-align: center;
  font-family: nosotros2;
  font-size: 73px;
  line-height: 121px;
  letter-spacing: 2px;
  padding-top: 100px;
  color: #8150c5; }

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense; }
  .gallery .wide {
    grid-column: span 2; }
  .gallery .tall {
    grid-row: span 2; }
  .gallery .big {
    grid-column: span 2;
    grid-row: span 2; }

.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center; }

.gallery > div > .casa2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px; }

.casa2 {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block; }

/* MEDIA QUERIES MEDIA*/
@media only screen and (max-width: 600px) {
  .container-media .titulo-media {
    text-align: center;
    font-size: 40px;
    color: #8150c5; } }

/* CONTACTO*/
.container-contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-contacto:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../media/foto-contacto.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1; }

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }

.left {
  background: url("../media/foto-contacto.jpg") no-repeat center;
  background-size: cover; }

.right {
  padding: 25px 40px; }

.h2-contacto {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px; }

.h2-contacto:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #2ecc71; }

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s; }

.field:hover {
  background-color: rgba(0, 0, 0, 0.1); }

textarea {
  min-height: 150px; }

input[type=submit] {
  width: 100%;
  background-color: #358292;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none; }

/* MEDIA QUERIES CONTACTO*/
@media screen and (max-width: 880px) {
  .container-contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact-box {
    grid-template-columns: 1fr; }
  .left {
    height: 200px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

@font-face {
  src: url(../fonts/LEMONMILK.ttf);
  font-family: nos; }

@font-face {
  src: url(../fonts/VanillaCaramel.ttf);
  font-family: nosotros2; }

@font-face {
  src: url(../fonts/ADELIA.ttf);
  font-family: nosotros3; }

@font-face {
  src: url(../fonts/MANOLETE.ttf);
  font-family: nosotros; }

.gradient {
  padding-top: 13px;
  background-image: linear-gradient(-20deg, #dac5f9 0%, #cae5f8 100%); }

footer {
  text-decoration: none; }
  footer .footer__p {
    padding-top: 20px; }
