$color: #8150c5;
$desktop: 1100px;
$red:#ff0000;
$pink:#ea4c89;
$bluelight: #007bb5;
$whitewhite: #fefefe;
$whitenew: #f6f4ff;
$violet: #8f87f5;
$white: #fff;
$greylight: #212526;
$darkblue: #358292;
$grey: #2A2A2A;
$green: #2ecc71;
$darkdarkblue: #120D31;
$blueblue:#3b5998;
$redred: #ff0000;
$font:Abril Fatface;