/* MEDIA*/
.container_media{
  .titulo_pages{
    text-align: center;
    font-family: vanilla;
    font-size: 73px;
    line-height: 121px;
    letter-spacing: 2px;
    color: $color;
  }
}
.gallery {
  display: grid;
  padding: 0em 1em;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  @media screen and (min-width: $tablet) {
    padding: 0em 5em;
  }
  > div > .casa2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}